body, html {
	height: 100%;
	margin: 0;
}

.bg {
  background-image: url("room2.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);
  z-index: -1;
}

.text {
	position: absolute;
	top: 230px;
	left: 300px;
	font-family: Arial;
	color: white;
}

.text2 {
	position: absolute;
	top: 230px;
	right: 300px;
	font-family: Arial;
	color: white;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 20px
}

p:nth-of-type(1) {
	opacity: 0.5;
	line-height: 26px;
	font-weight: 70%;
}

input {
	margin: 5px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 100px;
	border-radius: 5px;
}

input[type=text] {
	font-family: Arial;
	font-size: 1.0em;
	font-weight: bold;
}

#mes {
	padding-bottom: 90px;
}

#info {
	font-family: Arial;
	font-weight: bold;
	padding-left: 32%;
	text-indent: -10px;
	padding-right:  100px;
	background-color: orange;
	color: white;
	font-size: 1em;
	margin-bottom: 0px;
}