ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
	margin: 0
}

li {
  float: right;
    display: block;
  color: black;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 20px 30px
}

li:nth-of-type(4) {
	background-color: green;
}
li:nth-of-type(3) {
	background-color: slateblue
}
li:nth-of-type(2) {
	background-color: orange
}
li:nth-of-type(1) {
	background-color: red
}

div.buy {
	display: inline-block;
	text-align: center;
	border: 2px outset grey;
	padding: 10px;
	width: 500px;
	height: 400px;
	background-color: white;
}

div:nth-of-type(2) {
 	margin: 60px 10px 0px 380px;
}

div:nth-of-type(3) {
 	margin: 60px 50px 0px 10px;
}

h1 {
	font-size: 3.5em;
	margin: 25px 0px 10px 0px;
}

h2 {
	color: #615f5f;
	margin: 5px 0px 50px 0px;
}

p {
	color: #bdb9b9;
	font-size: 1.5em;
	margin: 20px;
}

#hi {
	font-size: 1.5em;
	background-color: dodgerblue;
	border: 1px solid dodgerblue;
	margin: 10px;
	color: white;
	padding: 20px;
	border-radius: 18px
}

#bye {
	font-size: 1.5em;
	background-color: orange;
	border: 1px solid orange;
	margin: 10px;
	color: white;
	padding: 20px;
	border-radius: 18px
}